*{
    margin: 0;
    padding: 0;
}
body {
background-color: rgb(245,245,245);
} 

/*menu*/
#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 1350px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}


/*login*/

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;

    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;

    height: 5em;

    resize: vertical;
}

.button {
   padding-left: 90px; /* mesmo tamanho que os elementos do tipo label */
}

button {
    margin-left: .5em;
}

<form action="/pagina-processa-dados-do-form" method="post">
    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="usuario_nome" />
    </div>
    <div>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="usuario_email" />
    </div>
    <div>
        <label for="msg">Mensagem:</label>
        <textarea id="msg" name="usuario_msg"></textarea>
    </div>

    <div class="button">
        <button type="submit">Enviar sua mensagem</button>
    </div>
</form>