* {
	margin: 0 auto;
	padding:0
	box-sizing: border-box;
	font-family: 'Open sans', sans-serif;
}	
ul{
    background-color: rgb(37, 37, 39);
}

ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}
ul li {
    display: inline;
}

ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

ul li a:hover {
    background-color: rgb(24, 139, 233);
}

ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}